/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

build.log
/dist
/xemu.ini
/macos-libs/
/macos-pkgs/
/xemu.iconset/

# Android port
/android/local.properties
/android/.gradle/
/android/.idea/
/android/build/
/android/app/build/
/android/captures/
/android/gradle/wrapper/gradle-wrapper.jar
/build-android/
